<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ida:ClientId" value="application id in Azure applications" />
  <add key="ida:AADInstance" value="https://login.microsoftonline.us/" />
  <add key="ida:Domain" value="your_domain_name.onmicrosoft.com" />
  <add key="ida:TenantId" value="tenant Id from Azure AD" />
  <add key="ida:PostLogoutRedirectUri" value="https://your_reply_ip" />

  <add key="StorageConnectionString" value="your_StorageConnectionString" />

  <add key="endpoint" value="cosmosDB_endpoint" />
  <add key="authKey" value="cosmosDB_key" />
  <add key="database" value="database_name" />
  <add key="collection" value="collection_name" />
  <add key="environment" value="LOCAL" />

  <!-- ClientId and ClientSecret refer to the web application registration with Azure Active Directory -->
  <add key="ClientId" value="your_cleintId" />
  <add key="ClientSecret" value="your_generated_secret" />

  <!-- SecretUri is the URI for the secret in Azure Key Vault -->
  <add key="DocumentDbName" value="endpoint_stored_key_vault" />
  <add key="DocumentDbValue" value="acccess_key_stored_key_vault" />

</appSettings>